# Force pnpm à remonter les dépendances comme npm/yarn
# Indispensable pour que Expo/React Native trouve les modules
node-linker=hoisted

# Optionnel mais recommandé pour éviter les soucis de peer dependencies
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@expo*
public-hoist-pattern[]=@react-navigation*