go 1.24.11

use (
	./gen
	./pkg
	./services/api-gateway
	./services/chat-service
	./services/feed-service
	./services/graph-service
	./services/identity-service
	./services/interaction-service
	./services/media-service
	./services/notification-service
	./services/post-service
)
